.container {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 1.5rem;
  transition: 0.3s;
}

.container:hover {
  box-shadow: 0px 10px 13px -7px #d8d8d8;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  overflow: hidden;
  border-radius: 1.5rem;
}

.image img {
  width: 100%;
}

.description {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: 1.5rem;
}

.favoritesButton {
  position: absolute;
  top: 230px;
  right: 1rem;
}