.container {
  align-self: center;
  overflow: hidden;
}

.loader,
.loader:after {
  width: 10em;
  height: 10em;
  border-radius: 50%;
}

.loader {
  position: relative;
  margin: 60px auto;
  font-size: 6px;
  text-indent: -9999em;
  border-top: 1.1em solid #eaeaea;
  border-right: 1.1em solid #eaeaea;
  border-bottom: 1.1em solid #eaeaea;
  border-left: 1.1em solid #5f6c78;
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;
}
@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
