.container {
  position: relative;
  display: flex;
  width: 100%;
  color: #374957;
}

.input {
  width: 100%;
  padding: 1.5rem 2rem;
  background: #ffffff;
  border: none;
  border-radius: 3px;
}

.submit {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  width: 5rem;
  background: url('./icon-search.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  border: none;
  cursor: pointer;
}

.submit:focus {
  outline: none;
}