.button {
  width: 40px;
  height: 40px;
  background-color: #fc6c7d;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35%;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: #ff7484;
  box-shadow: 0px 5px 13px -7px #fc6c7d;
}

.notFavorite {
  background: url('./images/icon-bookmark-dark.svg');
}

.favorite {
  background-image: url('./images/icon-bookmark.svg');
}