.street {
  font-weight: 500;
  font-size: 1.2rem;
}

.additionalInfo {
  padding: 1rem 0;
  color: #b3babf;
  font-size: 0.8rem;
}

.city,.bedroom {
  padding-left: 1.1rem;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}

.city {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  background-image: url('./images/icon-map.svg');
}

.bedroom {
  background-image: url('./images/icon-bed.svg');
}

.price {
  color: #169dff;
  font-weight: 500;
  font-size: 1.5rem;
}