.container {
  display: flex;
  align-items: center;
  padding: 1rem 1.2rem;
  color: #5f6c78;
  font-weight: 500;
  font-size: 0.8rem;
  background: #eaeaea;
  border-radius: 5px;
  transition: 0.3s;
}

.container:hover {
  background: #d2d2d2;
}